




# Practical-4
Aim:Handling missing values and Encoding of categorical data in given dataset.

In [1]:
import numpy as np 
import pandas as pd 
import sklearn

In [2]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Data.csv')
df

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [3]:
x = df.iloc[:, :-1].values 
x

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, nan],
       ['France', 35.0, 58000.0],
       ['Spain', nan, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

In [4]:
y = df.iloc[:, 3].values 
y

array(['No', 'Yes', 'No', 'No', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes'],
      dtype=object)

Pandas-Handling missing values

In [5]:
df['Age'] = df['Age'].fillna(value = df['Age'].mean())
df['Salary'] = df['Salary'].fillna(value = df['Salary'].mean())
df

   Country        Age        Salary Purchased
0   France  44.000000  72000.000000        No
1    Spain  27.000000  48000.000000       Yes
2  Germany  30.000000  54000.000000        No
3    Spain  38.000000  61000.000000        No
4  Germany  40.000000  63777.777778       Yes
5   France  35.000000  58000.000000       Yes
6    Spain  38.777778  52000.000000        No
7   France  48.000000  79000.000000       Yes
8  Germany  50.000000  83000.000000        No
9   France  37.000000  67000.000000       Yes

 SKlearn -Handling missing values

In [6]:
from sklearn.impute import SimpleImputer
im = SimpleImputer(missing_values = np.nan, strategy='median')
im.fit(x[:,1:3])
x[:,1:3] = im.transform(x[:,1:3])
x

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, 61000.0],
       ['France', 35.0, 58000.0],
       ['Spain', 38.0, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

Encoding of categorical data using panda

In [7]:

df['Country'].value_counts()

France     4
Germany    3
Spain      3
Name: Country, dtype: int64

In [8]:
ohe = pd.get_dummies(df, columns = ['Country'])
ohe.head(5)

    Age        Salary Purchased  Country_France  Country_Germany  Country_Spain
0  44.0  72000.000000        No               1                0              0
1  27.0  48000.000000       Yes               0                0              1
2  30.0  54000.000000        No               0                1              0
3  38.0  61000.000000        No               0                0              1
4  40.0  63777.777778       Yes               0                1              0

Encoding of categorical data using sklearn

In [9]:
x=df.iloc[:, :-1].values
x

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, 63777.77777777778],
       ['France', 35.0, 58000.0],
       ['Spain', 38.77777777777778, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

In [10]:
y=df.iloc[:,-1].values
y

array(['No', 'Yes', 'No', 'No', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes'],
      dtype=object)

In [11]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [0])], remainder='passthrough')
x = np.array(ct.fit_transform(x))
print(x)

[[1.0 0.0 0.0 44.0 72000.0]
 [0.0 0.0 1.0 27.0 48000.0]
 [0.0 1.0 0.0 30.0 54000.0]
 [0.0 0.0 1.0 38.0 61000.0]
 [0.0 1.0 0.0 40.0 63777.77777777778]
 [1.0 0.0 0.0 35.0 58000.0]
 [0.0 0.0 1.0 38.77777777777778 52000.0]
 [1.0 0.0 0.0 48.0 79000.0]
 [0.0 1.0 0.0 50.0 83000.0]
 [1.0 0.0 0.0 37.0 67000.0]]






# Practical-5
Aim: Splitting the dataset and Apply feature scalling on dataset.

### Splitting the dataset

In [12]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test= train_test_split(x,y,test_size=0.2,random_state=50)
x_train

array([[0.0, 0.0, 1.0, 38.77777777777778, 52000.0],
       [0.0, 1.0, 0.0, 30.0, 54000.0],
       [0.0, 1.0, 0.0, 40.0, 63777.77777777778],
       [0.0, 0.0, 1.0, 27.0, 48000.0],
       [1.0, 0.0, 0.0, 35.0, 58000.0],
       [0.0, 0.0, 1.0, 38.0, 61000.0],
       [1.0, 0.0, 0.0, 37.0, 67000.0],
       [1.0, 0.0, 0.0, 44.0, 72000.0]], dtype=object)

In [13]:
x_test

array([[1.0, 0.0, 0.0, 48.0, 79000.0],
       [0.0, 1.0, 0.0, 50.0, 83000.0]], dtype=object)

In [14]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test= train_test_split(x,y,test_size=0.2,random_state=50)
x_train

array([[0.0, 0.0, 1.0, 38.77777777777778, 52000.0],
       [0.0, 1.0, 0.0, 30.0, 54000.0],
       [0.0, 1.0, 0.0, 40.0, 63777.77777777778],
       [0.0, 0.0, 1.0, 27.0, 48000.0],
       [1.0, 0.0, 0.0, 35.0, 58000.0],
       [0.0, 0.0, 1.0, 38.0, 61000.0],
       [1.0, 0.0, 0.0, 37.0, 67000.0],
       [1.0, 0.0, 0.0, 44.0, 72000.0]], dtype=object)

## Apply feature scaling on dataset

StandardScaler

In [15]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train[:, 3:] = sc.fit_transform(x_train[:, 3:])
x_test[:,3:] = sc.transform(x_test[:,3:])
x_train

array([[0.0, 0.0, 1.0, 0.49841260108508906, -0.9918504166442377],
       [0.0, 1.0, 0.0, -1.2135263330767376, -0.7263737252004268],
       [0.0, 1.0, 0.0, 0.7367838450823052, 0.571512321858205],
       [0.0, 0.0, 1.0, -1.7986193865244504, -1.5228037995318595],
       [1.0, 0.0, 0.0, -0.2383712439972162, -0.19542034231280486],
       [0.0, 0.0, 1.0, 0.3467218094504967, 0.20279469485291157],
       [1.0, 0.0, 0.0, 0.15169079163459237, 0.9992247691843444],
       [1.0, 0.0, 0.0, 1.5169079163459225, 1.6629164977938717]],
      dtype=object)

Normalizer

In [16]:
from sklearn.preprocessing import Normalizer
nm = Normalizer()
x_train[:, 3:]= nm.fit_transform(x_train[:,3:])
x_test[:, 3:]= nm.transform(x_test[:,3:])
x_train

array([[0.0, 0.0, 1.0, 0.4490053528500231, -0.8935290667415505],
       [0.0, 1.0, 0.0, -0.8580358670558511, -0.513589769023599],
       [0.0, 1.0, 0.0, 0.7901528366436678, 0.6129098585795184],
       [0.0, 0.0, 1.0, -0.7631989686207102, -0.6461635507333141],
       [1.0, 0.0, 0.0, -0.7733379004058967, -0.6339940786756604],
       [0.0, 0.0, 1.0, 0.863192869666476, 0.5048743108506851],
       [1.0, 0.0, 0.0, 0.1500888691736015, 0.9886725096563521],
       [1.0, 0.0, 0.0, 0.673928352229455, 0.7387967082095667]],
      dtype=object)